/**
 * Base
 */

html {
  font: 400 1em/1.5 "Montserrat", sans-serif;
}
@media screen and (min-width: 48em) {
  html {
    font-size: 1.125em;
  }
}
@media screen and (min-width: 64em) {
  html {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 80em) {
  html {
    font-size: 1.375em;
  }
}
@media screen and (min-width: 96em) {
  html {
    font-size: 1.5em;
  }
}

body {
  background-color: var(--white);
  color: var(--black);
}

::selection {
  background-color: var(--black);
  color: var(--white);
}
